.form-order{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 50px;
    
}

  
  .form-order input {
    justify-content: center;
    width: 30%;
    margin: 10px auto;
  }
 
  .form-order button {
    width: 50px;
    margin: 10px auto;
  }