
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 50px;
  }

.jobCard {
    margin: 30px 30px 0px 0px;
    justify-content:center;
    align-items: center; 
    width: 60vh;
    height: 300px;
    border-radius: 50px;
    outline: 0;
    border: 0;
    background: radial-gradient(100% 100% at 100% 0%, #7c7f8080 0%, #9193a089 100%);
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;  
   
}

.jobCard:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #bebfc9;
    transform: translateY(-2px);
}

.pName, .pContinent{
    color: white;
    text-decoration: none
}

a:link, a:visited, a:active {
    text-decoration:none;
} 