@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Roboto:ital,wght@1,100&family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Edu+NSW+ACT+Foundation&family=Roboto:ital,wght@1,100&display=swap');
.containerDiv{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 20vh;
    background: radial-gradient(100% 100% at 100% 0%, #303638 0%, #0c113689 100%);
    border-radius: 6px;
    color: #050404;
    
   
}
.title{
    font-family: 'Edu NSW ACT Foundation', 'Roboto', cursive;
    font-size: 40px;
    margin: 30px
    
}


.btnReload{
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow, transform;
    background: radial-gradient(100% 100% at 100% 0%, #303638 0%, #0c113689 100%);
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    padding: 0 15px;
    border-radius: 6px;
    color: #fff;
    height: 48px;
    font-size: 15px;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    margin-right: 30px;
}

.btnReload:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #bebfc9;
    transform: translateY(-2px);
}

.btnReload:active {
    box-shadow: inset 0px 3px 7px #3c4fe0;
    transform: translateY(2px);
}
